header {
  border-radius: 5px;
  width: 70vw;
  height: 10vh;
  margin: auto;
  display: flex;
  background: #eeeeef;
}

.Content {
  border: 1px solid black;
  width: 70vw;
  margin: auto;
  margin-top: 20px;
  min-height: 500px;
}

.Logo-image-box {
  width: 200px;
  flex: 1;
}

.App-logo {
  height: 80%;
  margin: 20px
}

.App-title {
  flex:7;
}
